@import '../abstracts/variablse';

.slide {
    &-x {
        &-enter {
            &-from {
                transform: translateX(-10%);
                opacity: 0;
            }

            &-active {
                transition: all map-get($animate-speed, 'fast');
            }

            &-to {
                transition: all map-get($animate-speed, 'fast');
                opacity: 1;    
            }
        }
        &-leave {
            &-from {
                transition: all map-get($animate-speed, 'fast');
                opacity: 1;
            }
            &-active {
                transition: all map-get($animate-speed, 'fast');
            }
            &-to {
                transform: translateX(-10%);
                opacity: 0;
                position: absolute;
            };
        }
    }
    &-y {
        &-enter {
            &-from {
                transform: translateY(-10%);
                opacity: 0;
            };
            &-to {
                transition: all map-get($animate-speed, 'fast');
                opacity: 1;
            }
        };
        &-leave {
            &-from {
                transition: all map-get($animate-speed, 'fast');
                opacity: 1;
            }
            &-active {
                transition: all map-get($animate-speed, 'fast');
                opacity: .6;
            }
            &-to {
                transform: translateY(-10%);
                opacity: 0;
            };

        }
    };
};
.fade {
    &-enter {
        &-from {
            opacity: 0;
        };

        &-active {
            transition: all map-get($animate-speed, 'fast');
        }

        &-to {
            opacity: 1;
        }

    }
    &-leave {
        &-from {
            opacity: 1;
        }

        &-active {
            transition: all map-get($animate-speed, 'fast');
        }

        &-to {
            opacity: 0;
        }; 
    }
}