@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .wrapper {
    @apply gap-8 flex flex-col h-full w-full;
  }

  .card-header {
    @apply flex-wrap px-2 border-b border-gray-300 shadow !important;
  }
  .card-body {
    @apply gap-0 !important;
  }
  .card-footer {
    @apply p-4 !important;
  }

  .dropdown {
    @apply flex relative !important;
  }

  .tooltip {
    @apply z-10;
  }

  .menu-dropdown {
    @apply py-2 rounded shadow-xl bg-white absolute left-0 right-0 z-10 min-w-[60px];
  }
  .menu-dropdown__item {
    @apply p-3 text-lg cursor-pointer transition-all rounded hover:bg-gray-200;
  }
  .menu-dropdown__item-active {
    @apply text-white bg-blue-700  !important;
  }

  .pagination {
    @apply flex flex-nowrap gap-4;
  }
  .pagination__btn {
    @apply items-center;
  }
  .pagination__btn-disabled {
    @apply pointer-events-none text-gray-600;
  }
  .pagination__item {
    @apply py-1 px-3 shadow rounded bg-white transition-all hover:scale-105 hover:shadow-md;
  }
  .pagination__item-active {
    @apply bg-blue-500 text-white scale-110 !important;
  }

  .table-app {
    @apply hidden sm:table w-full !important;
  }
  .table-app-footer {
    @apply border-t !important;
  }
  .table-app__mobile {
    @apply row sm:hidden;
  }
  .table-app__mobile-col {
    @apply col-12 flex items-baseline;
  }
  .table-app__mobile-col__title {
    @apply text-lg font-semibold flex-1;
  }
  .table-app__mobile-table-row {
    @apply col-12 border-b border-secondary;
  }
  .table-app__mobile-table-col {
    @apply col-12 flex;
  }
  .table-app__mobile-table-col-row {
    @apply gap-4 row p-3;
  }
  .table-app > thead {
    @apply border-gray-300 !important;
  }
  .table-app > thead > tr {
    @apply border-b-0 border-gray-300;
  }
  .table-app > thead > tr > th {
    @apply h-[30px] sm:px-2 font-medium !important;
  }
  .table-app > tbody > tr > td {
    @apply h-[35px] sm:p-2 !important;
  }
  .table-app-item {
    @apply hidden sm:block;
  }
  .table-app-item__col {
    @apply border-b border-gray-200 py-4;
  }
  .table-app-item__col-mobile {
    @apply block;
  }
  .table-app-item__row {
    @apply flex sm:block;
  }
  .table-app-item__row-mobile {
    @apply block sm:hidden;
  }
  .table-app-item__row-title {
    @apply font-bold text-lg border-b border-gray-200;
  }
  .table-app-header {
    @apply hidden sm:table-header-group;
  }
  .table-app-row__row {
    @apply hidden sm:table-row !important;
  }
  .table-app-row__mobile-table-row {
    @apply sm:hidden;
  }
  .table-app-col {
    @apply hidden sm:table-cell;
  }
}
@layer base {
  html, body {
    @apply overflow-x-hidden h-full !important;
  }
}
.slide-x-enter-from {
  transform: translateX(-10%);
  opacity: 0;
}
.slide-x-enter-active {
  transition: all 0.5s;
}
.slide-x-enter-to {
  transition: all 0.5s;
  opacity: 1;
}
.slide-x-leave-from {
  transition: all 0.5s;
  opacity: 1;
}
.slide-x-leave-active {
  transition: all 0.5s;
}
.slide-x-leave-to {
  transform: translateX(-10%);
  opacity: 0;
  position: absolute;
}
.slide-y-enter-from {
  transform: translateY(-10%);
  opacity: 0;
}
.slide-y-enter-to {
  transition: all 0.5s;
  opacity: 1;
}
.slide-y-leave-from {
  transition: all 0.5s;
  opacity: 1;
}
.slide-y-leave-active {
  transition: all 0.5s;
  opacity: 0.6;
}
.slide-y-leave-to {
  transform: translateY(-10%);
  opacity: 0;
}

.fade-enter-from {
  opacity: 0;
}
.fade-enter-active {
  transition: all 0.5s;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave-from {
  opacity: 1;
}
.fade-leave-active {
  transition: all 0.5s;
}
.fade-leave-to {
  opacity: 0;
}
